
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

html, body{
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

/* body{
    height: auto;
} */

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #4b556b;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b2f39;
}


.header-holder{
    background: linear-gradient(to bottom, #7076fe, #1da1f2);
    padding: 20px 0px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    justify-content: space-evenly;
}

.header-holder #toggler{
    display: none;
  }
  
  .header-holder .fa-bars{
    font-size: 20px;
    color: #4b556b;
    border-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,.3);
    display: none; 
  }

.header-holder .logo h2{
    color: #f9f9f9;
    font-size: 30px;
    margin-top: 4px;
}

.header-holder .logo span{
    color: #4b556b;
}

.header-holder .nav-bar ul,
.header-holder .icon-holder ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header-holder .nav-bar ul{
    padding: 0 75px 0 75px;
}

.header-holder .nav-bar ul > li > a{
    text-decoration: none;
    font-size: 20px;
    color: #f9f9f9;
    display: inline-block;
    font-weight: 600;
    padding: 10px 15px;
    transition: all .3s ease;
}



.header-holder .nav-bar ul > li > a:hover{
    color: #4b556b;
    transform: scale(1.2);
    margin-top: -3px;
}

.header-holder .icon-holder ul > li > a > .icon{
    text-decoration: none;
    font-size: 30px;
    color: #4b556b;
    display: inline-block;
    padding: 10px; 
    transition: all .3s ease;
}


.header-holder .icon-holder ul > li > a > .icon:hover{
    color: #f9f9f9;
    transform: scale(1.2);
    margin-top: -3px;
}


/* Project navbar styling  */
.header-holder .nav-bar .drop{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: absolute;
    border: 1px solid #2b2f39;
    display: none;   
    background-color: #f1f1f1; 
}

.header-holder .nav-bar .drop .drop-list a{
    padding: 10px;
    display: inline-block;
    width: 100%;
    color: #4b556b;
}


.nav-bar > ul > li:hover .drop{
    display: block;
    z-index: 1;
}


/* Project navbar styling  */

section{
    padding: 25px 9%;
}

#home{
    background-color: #f9f9f9;
    height: 100vh;
}

.home-container{
    display: flex;
    justify-content: space-between;
}

.home-container .home-content-holder{
    position: absolute;
    top: 40%;
    width: 50%;
}

.home-container .home-content-holder .text-1{
    font-size: 26px;
    padding: 10px 0px;
    font-weight: 600;
}

.home-container .home-content-holder .text-2 span{
    font-size: 37px;
    padding: 10px 0px;
    color: #1da1f2;
    font-weight: 700;
}

.home-container .home-content-holder .text-3{
    font-size: 30px;
    padding: 10px 0px 35px 0px;
    font-weight: 600;
}

.home-container .home-content-holder a{
    background-color: #1da1f2;
    /* background: linear-gradient(to bottom, #7076fe, #1da1f2); */
    padding: 10px;
    text-decoration: none;
    color: #f9f9f9;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: 600;
}

.home-container .home-content-holder a:hover{
    background-color: #4b556b;
}

.home-container .img-holder .profile{
  width: 25%;
  /* width: 400px; */
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 30%;
  left: 65%;
  overflow-x: hidden;
}

/*about section style */
#about{
    /* background-color: #7076fe; */
    background: linear-gradient(to bottom, #7076fe, #1da1f2);
    min-height: 100vh;
}

.container h2{
    margin-top: 60px;
    text-align: center;
    color: #f9f9f9;
    font-size: 35px;
}

.container h4{
    color: #4b556b;
    text-align: center;
    font-size: 18px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 25px 0;
    padding-bottom: 35px;
    margin-top: 25px;
}

.about-content .img-holder{
    flex: 1 1 20px;
    position: relative;
}

.about-content .img-holder .photo{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
    width: 300px;
    border: 3px solid #fff;
    border-radius: 30px;
    height: 400px;
    object-fit: cover;
}

.about-content .img-holder fieldset{
    width: 300px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #fff;
}

.about-content .img-holder fieldset legend{
    color: #f9f9f9;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 600;
}


.about-content .img-holder fieldset .tools{
    display: flex;
    justify-content: space-evenly;
}

.about-content .img-holder fieldset .tools img.tool{
    padding: 10px;
    width: 70px;
    aspect-ratio: 3/2;
    object-fit: contain;
    transition: all .3s;
}

.about-content .img-holder fieldset .tools img.tool:hover{
    transform: scale(1.2);
}


.about-content .content-holder{
    flex: 1 1 400px;
}

.about-content .content-holder .text{
    font-size: 28px;
    color: #f9f9f9;
    font-weight: bold;
}

.about-content .content-holder .text span{
    color: #4b556b;
}

.about-content .content-holder p{
    font-size: 18px;
    color: #f9f9f9;
    text-align: justify;
    margin-bottom: 35px;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 20px;
}

.about-content .content-holder a{
    padding: 10px 25px;
    background-color: #4b556b;
    color: #f9f9f9;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 60px;
    display: inline-block;
    transition: all .3s;
    font-weight: 600;
}

.about-content .content-holder a:hover{
    background-color: transparent;
    color: #4b556b;
    border: 2px solid #4b556b;
}

.about-content .content-holder fieldset{
    margin-top: 20px;
    width: auto;
    border-radius: 20px;
    border: 1px solid #fff;
}


.about-content .content-holder fieldset legend{
    color: #f9f9f9;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 600;
}

.about-content .content-holder fieldset p{
    padding: 10px 10px 0px 10px;
    color: #f1f1f1;
    font-weight: 300;
    font-size: 15px;
}

.about-content .content-holder fieldset p span{
    color: #2b2f39;
    font-size: 18px;
    font-weight: 500;
}


/*about section style */


/* services section styling  */
#services{
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  #services .container h2{
    color: #1da1f2;
  }
  
  #services .container h4{
    color: #4b556b;
  }
  
  .services-holder{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding-top: 25px;
    margin-top: 50px;
  }
  
  .services-holder .card {
    display: inline-block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #7076fe, #1da1f2);
  }
  
  
  .services-holder .card .icon{
    color: #262626;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  
  
  
  .services-holder .card  .card-title {
    color: #262626;
    font-size: 25px;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
  }
  
  .services-holder .card  .small-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    color: #452c2c;
    text-align: center;
    margin-top: 10px;
    
  }
  
  .services-holder .card .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .services-holder .card .go-corner .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
  }
  
  
  .services-holder .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .services-holder .card:hover:before {
    transform: scale(28);
  }
  
  .services-holder .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .services-holder .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  
  .services-holder .card:hover .icon {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  
  /* services section styling  */




/* skill section start  */
#skills{
    min-height: 100vh;
    /* background-color: #7076fe; */
    background: linear-gradient(to bottom, #7076fe, #1da1f2);
}

.skill-holder{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.skill-holder .content{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.skill-holder .content h3{
    color: #f9f9f9;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
    padding-bottom: 25px;
}

.skill-holder .content p{
    color: #4b556b;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: justify;
}

.skill-holder .content a{
    background-color: #4b556b;
    padding: 10px 25px;
    color: #f9f9f9;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 30px;
    border: 1px solid #4b556b;
    transition: all .3s;
    font-weight: 600;
}

.skill-holder .content a:hover{
    background-color: transparent;
    color: #4b556b;
    border: 2px solid #4b556b;
}

.skill-graph{
    width: 50%;
    margin-top: 30px;
    display: block;
    margin-bottom: 25px;
}

.skill-graph .boxes{
    padding: 25px;
    margin-top: -10px;
}

.skill-graph .boxes h4{
    color: #f9f9f9;
    font-size: 20px;
    text-align: start;
}

.skill-graph .boxes .boxsize{
    background-color: #f9f9f9;
    height: 20px;
    text-align: center;
    color: #f9f9f9;
    border-radius: 20px;
}

.skill-graph .boxes .boxsize .percet{
    width: 90%;
    background-color: #4b556b;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    height: 18px;
    animation: photoshop 3s;
}

.skill-graph .boxes .boxsize .percet2{
    width: 90%;
    background-color: #4b556b;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    height: 18px;
    animation: illustrator 3s;
}

.skill-graph .boxes .boxsize .percet4{
    width: 70%;
    background-color: #4b556b;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    height: 18px;
    animation: figma 3s;
}

.skill-graph .boxes .boxsize .percet5{
    width: 60%;
    background-color: #4b556b;
    border-radius: 20px;
    border: .5px solid #f9f9f9;
    height: 18px;
    animation: html 3s;
}

@keyframes photoshop{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes illustrator{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes figma{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}


/* skill section start  */



/* contact section styling  */
#contact{
    height: auto;
    background-color: #f9f9f9;
}

#contact .container h2{
    color: #1da1f2;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.contact-content .form-holder{
    width: 50%;
    margin: 25px 0px;
    background-color: #d4d4d44b;
    padding: 15px;
    border-radius: 10px;
}

.contact-content .form-holder h3{
    color: #4b556b;
    font-size: 25px;
    padding-bottom: 25px;
}

.contact-content .form-holder form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-content .form-holder form > label{
    margin-bottom: 20px;
    display: block;
}


.contact-content .form-holder form > label > input,
.contact-content .form-holder form > label > textarea{
    width: 96%;
    padding: 10px;
    border: 1px solid #4b556b;
    border-radius: 12px;
}

.contact-content .form-holder form > button{
    /* width: 20%; */
    padding: 12px 25px;
    border-radius: 15px;
    background-color: #1da1f2;;
    color: #f9f9f9;
    border: none;
    transition: all .3s ease;
    font-weight: 600;
}

.contact-content .form-holder form > button:hover{
    background-color: #4b556b;
}

.contact-content .side-bar{
    width: 50%;
    padding: 25px;
}

.contact-content .side-bar h3{
    font-size: 25px;
    color: #1da1f2;
    padding-bottom: 25px;
}

.contact-content .side-bar p{
    color: #4b556b;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.contact-content .side-bar .info-holder{
    padding-top: 25px;
}

.contact-content .side-bar .info-holder .row{
    display: flex;
    justify-content: start;
    margin-top: 15px;
}

.contact-content .side-bar .info-holder .row i{
    font-size: 26px;
    color: #4b556b;
    padding-right: 10px;
}

.contact-content .side-bar .info-holder .row .info{
    margin-top: -10px;
    padding-bottom: 15px;
    font-weight: 500;
}

.contact-content .side-bar .info-holder .row .info .head{
    font-size: 18px;
    color: #4b556b;
    font-weight: 500
}

.contact-content .side-bar .info-holder .row .info .sub-title{
    color: #1da1f2;
    font-size: 18px;
    font-weight: 500
}



.contact-content .side-bar .info-holder  .social{
    margin-top: 25px;
}

.contact-content .side-bar .info-holder  .social li{
    background-color: #f9f9f9;
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-right: 30px;
    float: left;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
    transition: all .3s ease;
}


.contact-content .side-bar .info-holder  .social li:nth-child(1):hover{
    width: 200px;
    border-bottom: 5px solid #4267b2;
}

.contact-content .side-bar .info-holder  .social li:nth-child(2):hover{
    width: 200px;
    border-bottom: 5px solid #e1306c;
}

.contact-content .side-bar .info-holder  .social li:nth-child(3):hover{
    width: 200px;
    border-bottom: 5px solid #1da1f2;
}


.contact-content .side-bar .info-holder  .social li a{
    display: inline-block;
    text-align: center;
    flex-direction: row;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 70px;
    font-size: 30px;
    color: #4b556b;
}

.contact-content .side-bar .info-holder .social li:nth-child(1):hover a{
    background-color: #4267b2;
    color: #f9f9f9;
    transition: all .3s ease;
}

.contact-content .side-bar .info-holder  .social li:nth-child(2):hover a{
    background-color: #e1306c;
    color: #f9f9f9;
    transition: all .3s ease;
}

.contact-content .side-bar .info-holder  .social li:nth-child(3):hover a{
    background-color: #1da1f2; 
    color: #f9f9f9;
    transition: all .3s ease;
}


.contact-content .side-bar .info-holder  .social span{
    font-size: 20px;
    font-weight: 600;
    line-height: 70px;
    margin-left: 8px;
    color: #4b556b;
}


/* contact section styling  */


/* project styling */
.project-container{
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

.project-container h2{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1da1f2;
    font-size: 40px;
    font-weight: 700;
}

.project-container h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b556b;
    font-size: 18px;
    font-weight: 700;
}

.project-container fieldset{
    border: 1px solid #4b556b;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.project-container fieldset legend{
    color: #4b556b;
    font-size: 25px;
    font-weight: 700; 
    text-transform: capitalize;
    
}

.project-container fieldset .gallery{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.project-container fieldset .gallery .column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-container fieldset .gallery .column .photo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all .3s;
}

.project-container fieldset .gallery .column .photo img:hover{
    transform: scale(1.08);
    border: 1px solid #1da1f2;
}

.project .popup-img{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
}

.project .popup-img span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #f9f9f9;
    cursor: pointer;
    z-index: 100;
}

.project .popup-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #f9f9f9;
    border-radius: 5px;
    width: 40%;
    object-fit: cover;
}

.contact-box fieldset{
    border: 1px solid #4b556b;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
}

.contact-box fieldset .info{
    display: flex;
    justify-content: start;
    gap: 25px;
}

.contact-box fieldset legend{
    font-size: 25px;
    color: #4b556b;
    text-transform: capitalize;
    margin-left: 30px;
    font-weight: 700;
}

.contact-box fieldset .info p{
    color: #909090;
    font-size: 18px;
    font-weight: 500;
    
}

.contact-box fieldset .info p span{
    color: #2b2f39;
    font-weight: 600;
}

.contact-box fieldset .info a button[type="submit"]{
    padding: 10px 100px;
    margin-top: -7px;
    margin-left: 20px;
    font-size: 18px;
    background-color: #1da1f2;
    border: none;
    border-radius: 20px;
    color: #f9f9f9;
    transition: all .3s;
    font-weight: 600;
}

.contact-box fieldset .info a button:hover{
    background-color: #4b556b;
}

.contact-box fieldset .info a button:active{
    transform: scale(.9);
}
/* project styling */


/*footer section styling */
.footer{
    background-color: #4b556b;
    color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

.footer small a{
   color: #1da1f2; 
}
/*footer section styling */


/*responsive media*/
@media (max-width:991px){
    html{
      font-size: 55%;
    }
  
    .header{
      padding: 15px;
    }
  
    section{
      padding: 15px;
    }
     
    .home{
      background-position: left;
    }
  }

  @media (max-width:768px){
        /* header  */
      
        html,body{
            overflow-x: hidden;
        }

        .header-holder .fa-bars{
            font-size: 22px;
          }
        
        .header-holder .logo h2{
            font-size: 25px;
        }
        
        .header-holder .nav-bar ul > li > a{
            font-size: 15px;
        }
    
        .header-holder .icon-holder ul > li > a > .icon{
            font-size: 25px;
        }
        
        .footer small{
          font-size: 10px;
        }

         /* header */
        

         .header-holder{
            justify-content: space-evenly;
        }

        .header-holder .logo h2{
            padding: 0px 40px;
        }

    .header-holder .fa-bars{
        display: block;
    }
    .header-holder .nav-bar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 10x solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header-holder #toggler:checked ~ .nav-bar{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
      }

      .header-holder .nav-bar ul{
        display: flex;
        flex-direction: column;
      }

      .header-holder .nav-bar ul > li > a{
        width: 100%;
        background: #f9f9f9;
        border: 1px solid rgba(0,0,0,.1);
        color: #4b556b;
        display: flex;
        align-items: center;
        justify-content: center;
      }


      .header-holder .nav-bar ul > li > a:hover{
        background-color: #4b556b;
        color: #f9f9f9;
        transform: none;
      }
    
/* Project navbar styling  */
    .header-holder .nav-bar .drop{
    display: none;    
    }


    .nav-bar > ul > li:hover .drop{
    display: none;
    }
/* Project navbar styling  */


      .home-container .content-holder{
        justify-content: center;
      }

      .home-container .img-holder{
        display: none;
      }

      .home-container,
      .services-holder,
      .skill-holder,
      .contact-content,
      .about-content{
        flex-direction: column;
      }

      .skill-holder .content,
      .skill-holder .skill-graph{
        width: 100%;
      }

      .contact-content .form-holder{
        width: 93%;
      }

      .contact-content .side-bar{
        width: 93%;
      }

     .contact-content .side-bar .social li > a > ion-icon{
        margin-right: -20px;
      } 
      .home-container .home-content-holder{
        text-align: center;
        left: 25%;
      }

      .home-container .home-content-holder .text-1{
        font-size: 20px;
    }
    
    .home-container .home-content-holder .text-2{
        font-size: 25px;

    }
    
    .home-container .home-content-holder .text-3{
        font-size: 22px;

    }

    .home-container .home-content-holder .text-2 span{
        font-size: 25px;
        font-weight: 700;
    }

    /*about section style */

.about-content .img-holder img{
    width: 200px;
    height: 300px;
}


.about-content .content-holder .text{
    font-size: 25px;
}


.about-content .content-holder p{
    font-size: 15px;
}

.about-content .img-holder fieldset{
    width: 300px;
    height: 100px;
    position: relative;
}

.about-content .img-holder fieldset legend{
    font-size: 20px;
}


.about-content .img-holder fieldset .tools{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -130px;
}

.about-content .img-holder fieldset .tools img.tool{
    width: 40px;
    padding-left: 40px;
}


.about-content .content-holder fieldset legend{
    font-size: 20px;

}

.about-content .content-holder fieldset p{
    font-size: 13px;
}

.about-content .content-holder fieldset p span{
    font-size: 15px;
}

/*about section style */

/* services section styling  */

.services-holder .card {
    max-width: 90%;
    max-height: 320px;
  }
  

  .services-holder .card .icon{
    font-size: 20px;
  }


  
  .services-holder .card  .card-title {
    font-size: 2.5em;
  }
  
  .services-holder .card  .small-desc {
    font-size: 1.5rem;
    font-weight: 400;
  }


  /* services section styling  */



    /* skill section start  */

.skill-holder .content h3{
    font-size: 21px;
}

.skill-holder .content p{
    font-size: 14px;
}


.skill-graph .boxes h4{
    font-size: 16px;
}

.skill-graph .boxes .boxsize{
    background-color: #f9f9f9;
    height: 17px;
    text-align: center;
    color: #f9f9f9;
    border-radius: 20px;
}

.skill-graph .boxes .boxsize .percet{
    width: 90%;
    background-color: #4b556b;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    height: 16px;
}

.skill-graph .boxes .boxsize .percet2{
    width: 90%;
    background-color: #4b556b;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    height: 16px;
}

.skill-graph .boxes .boxsize .percet4{
    width: 70%;
    background-color: #4b556b;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    height: 16px;
}

.skill-graph .boxes .boxsize .percet5{
    width: 50%;
    background-color: #4b556b;
    border-radius: 20px;
    border: 1px solid #f9f9f9;
    height: 16px;
}
/* skill section start  */


/* project section styling  */

.project-holder .card .box .icon{
    font-size: 25px;

}

.project-holder .card .box h3{
    font-size: 22px;
    
}

.project-holder .card .box p{
    font-size: 14px;
}

/*  project section styling  */


    /* Side-bar */
    .contact-content .side-bar h3{
        font-size: 21px;
    }
    
    .contact-content .side-bar p{
        font-size: 14px;
    }
    
    .contact-content .side-bar .info-holder .row i{
        font-size: 22px;
    }
    
    .contact-content .side-bar .info-holder .row .info .head{
        font-size: 14px;
    }
    
    .contact-content .side-bar .info-holder .row .info .sub-title{
        font-size: 14px;
    }

    /* Side-bar */

    /* social */

    .contact-content .side-bar .info-holder  .social{
        display: none;
        /* display: flex;
        flex-direction: column; */
    }
    
    /* .contact-content .side-bar .info-holder  .social li{
        margin: 10px 5px;
    }
    
    .contact-content .side-bar .info-holder  .social li a{
        font-size: 25px;
        padding: 3px 5px;
    } */
    

        /* social */

        /* project responsive  */
        .project-container fieldset .gallery{
            flex-direction: column;
        }

        .contact-box fieldset .info{
            flex-direction: column;
        }

        .project .popup-img img{
            width: 90%;
        }
        /* project responsive  */

  }

  @media (max-width:450px){
    html{
      font-size: 50%;
    }
    .heading-holder{
        font-size: 15px;
      }
  }
